.error {
    color: rgb(255 0 64);
    font-weight: 500;
    padding: 5px 0;
}

.success {
    color: rgb(33, 168, 15);
    font-weight: 500;
    padding: 5px 0;
}

.cover-preview-wrapper {display: none;}

#cover-preview {
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}